<html>
<head>
  <title>Resume of <%= @name %></title>
</head>
<body>
  <h1>This is a resume for the real person: <%= @name %></h1>
    <%= yield %>
  This information is entirely legitimate.

</body>
</html>