<H1>This website is mad decent, as per our instructor's request.</H1><br>
<h1>ANYONE'S Resume:</h1>
<a href="/fake_resume"><%= @name %></a><br>
<h1>Will Fisher's Resume</h1>
<a href="/resume">Will Fisher</a><br>
<h6> <a href="/faker_test">A test.</a> </h6>