%h1 This website is mad decent, as per our instructor's request.
%br/
%h1 ANYONE'S Resume:
%a{:href => "/fake_resume"}= @name
%br/
%h1 Will Fisher's Resume
%a{:href => "/resume"} Will Fisher
%br/
%h6
  %a{:href => "/faker_test"} A test.