!!!
%html
  %head
    %title Curriculum Vitae || William Cornelius Fisher, Jr.
    %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / box div
    #wrap
      #resume
        / Centers heading
        %div{:align => "center"}
          %br/
          %h1 William C. Fisher, Jr.
          %a{:href => "mailto:willcfisherjr@gmail.com?Subject=Resume%20Contact"}
            %h3 WillCFisherJr@gmail.com
          %a{:href => "https://github.com/gtlaserbeast"}
            %h3 https://github.com/gtlaserbeast
          %h2 Cell: 843.263.3471
          %br/
          / end of centering
        / second row
        .clear
        / left cell
        .title
          %h2 About
        / right cell
        .info
          %p
            Ruby on Rails engineer seeking developer position that will make use of my numerous skills while helping me to cultivate my ever-growing hunger for knowledge.
        / third row
        .clear
        / left cell
        .title
          %h2 Skills
        / right cell
        .skills
          %ul
            %li Github
            %li Ruby (on Rails)
            %li HTML/CSS(Haml)
            %li SQL (mysql/postgresql)
            %li Javascript
            %li Angular
            %li Java
            %li C++
        .skills
          %ul
            %li SuperCollider
            %li Scheme
            %li PASCAL
            %li TinTin+/Lua
            %li Linux/UNIX/Mac/Windows
            %li SPSS
            %li Controlled Experiments
            %li Wireframing
        .title
          %h2 Education
        / right cell
        .info
          %h3 The Iron Yard
          %ul
            %li Ruby on Rails Engineering 2014
            %br
          %h3 Georgia Institute of Technology
          %ul
            %li Bachelor of Science in Psychology  May 2008
            %em 
              Sample Coursework:
          %ul
            %li Sensation & Perception, Experimental Analysis of Behavior, Engineering Psychology, Psychological Statistics, Cognitive Psychology, Research Methods, Differential Equations, Discrete Mathematics, Functional and Object-Oriented Programming, Physics, Aerospace Structures, Russian
        / third row
        .clear
        / left cell
        / fourth row
        .clear
        / left cell
        .title
          %h2 Work and Volunteer Experience
        / right cell
        .info
          %h3 Bartender/Bar-back, Panini’s Cafe Jan 2010 - Sep 2011
          %ul
            %li Maintain and defend supply line from liquor room to bar.
            %li Encourage patron participation[drinking/tipping] through the use of meta-rewards such as friendly smiles and variable drink quality.
          %h3 Media Research Observer, Ball State U. Sep 2009 - Dec 2009
          %ul
            %li Participated in a study funded by ESPN that helped demystify the electronic media consumption behaviors of the Millennial sports fan. Team developed media usage profile essential to the implementation of modern targeted marketing.
            %li Conducted 12hr observational blocks, each time with a new participant/location
            %li Maintained an orderly backlog of highly granular behavior observation
            %li Relayed data and analysis via VPN
            %li Traveled 100% of the time
          %h3 John Deere Senior Design Project Representative, Georgia Tech Jan 2008 - May 2008
          %ul
            %li Provided an analysis of available software solutions, including the then-new wiki
            %li Led group in consulting John Deere in their efforts to construct a design guideline archive.
            %li Assessed client needs through the use of surveys and phone conferences.
            %li Compiled data from research on current trends in HCI research, UX design, and cognitive modeling, and prepared recommendations on which collaborative productivity products were most usable and most suitable for John Deere’s needs at the time.
          %h3 Undergraduate Research Assistant, Georgia Tech Aug 2004 - Jan 2007
          %ul
            %li
              Played key role in conducting experimental research on auditory and multimodal interfaces for the Sonification Lab including augmented reality navigation and stereo modulation using bone-oscillating headphones.
            %li
              Worked alongside PhD students to help code sound manipulation software to be used in the research process.
            %li
              Received a Summer PURA(President’s Undergrad Research Award) grant in 2005.
          %h3 Music Director/Show Producer, WREK Atlanta 91.1 FM Jan 2003 - May 2007
          %ul
            %li
              As Music Director, screened and categorized hundreds of incoming albums for quality and appropriateness while maintaining the integrity of WREK’s avant garde image. Produced and presented a weekly specialty show called Psychout, specializing in psychedelic music.
          %h3 GT CEISMC Tutor, Georgia Tech/Herndon Elementary Spring 2005
          %ul
            %li
              Designed and executed lesson plans in order to help inner-city 3rd graders hone their multiplication skills.
        / end right
        .clear